<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Use this to get your weather.</p>
        <form>
            <input placeholder="Location">
            <button>Submit</button>
        </form>
        <p id="message-2"></p>
        <p id="message-1"></p>
    </div>
    {{>footer}}
    <script src="/js/index.js"></script>
</body>

</html>